﻿.main-content {
    padding: 60px 0 20px;
}

.article-header-container {
    margin-bottom: 40px;
}

h1.article-header {
    font-size: 50px;
    line-height: 1.2;
    border-top: 1px solid #8aaec3;
    border-bottom: 1px solid #8aaec3;
    padding: 10px 0;
}

.panel-box {
    padding: 30px;
}

    .panel-box.panel-box-success {
        background-color: #f0f2cb;
    }

    .panel-box.panel-box-warning {
        background-color: #faefdf;
    }

    .panel-box.panel-box-danger {
        background-color: #fadfdf;
    }

    .panel-box .panel-box-title {
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 42px;
        font-family: "Altis-Light";
        font-weight: normal;
    }

    .panel-box .panel-box-content-text {
        margin: 0 0 20px 0;
        line-height: 1.6;
        font-size: 18px;
        font-family: "Open Sans";
    }


.big-header {
    font-family: "Altis-Light";
    font-weight: normal;
    font-size: 24px;
    margin: 32px 0 16px;
}


@media (min-width: 1025px) {
    .big-header {
        font-size: 32px;
        line-height: 42px;
    }
}


.article-ingress {
    border-bottom: 1px solid #e5e3e1;
    padding: 20px 0;
    font-family: Altis-Light;
    font-size: 22px;
}


/* Matrikkel tabell */
.matrikkel-tabell-container {
    padding: 6px 6px 0;
    border: 1px solid #CCC;
    margin-bottom: 5px;
}

.matrikkel-tabell {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 6px;
}

.matrikkel-tabell-section-header {
    color: white;
    background-color: teal;
    padding: 0 8px;
}

.matrikkel-tabell tr th {
    background-color: lightblue;
    border: 1px solid #83afbe;
}

.matrikkel-tabell tr td {
    border: 1px solid #CCC;
}

    .matrikkel-tabell tr td:empty {
        height: 25.4px;
    }

.matrikkel-tabell-right {
    text-align: right;
}

.matrikkel-tabell-left {
    text-align: left;
}


/* Grid table list */
.custom-list {
    word-wrap: break-word;
}

    .custom-list .row {
        padding: 8px 0;
        border-bottom: black;
        border-bottom-style: solid;
        border-bottom-width: thin;
    }

        .custom-list .row:nth-child(odd) {
            background-color: #f2f1f0;
            
        }

        .custom-list .row:nth-child(even) {

            background-color: #fbfaf9;

        }

        .custom-list .row .custom-list-cell-title {
            font-weight: bold;
            color: 	#383838;
            display: block;
        }

/* Loading animation */
.loading-animation {
    display: none;
    font-size: 20px;
}
    .loading-animation:before {
        content: url(/Content/images/spinner.svg);
        display: inline-block;
    }