﻿@using arkitektum.dibk.bimvalidering.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/bower_components/dibk-fb-webcommon/assets/images/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>@ViewBag.Title - DiBK Fellestjenester bygg</title>
    @Styles.Render("~/Content/bower_components/dibk-fb-webcommon/assets/css/styles")

    <script src="~/Scripts/xbim-viewer.debug.bundle.js"></script>
    <script src="~/Scripts/xbim-navigation-cube.js"></script>
</head>

<body>

    <section class="header-section">
        <div class="header-background-image"></div>

        <div class="general-container">
            <div class="container">
                <div class="navigation">

                    <a href="/">
                        <img class="mobile-logo" src="~/Content/bower_components/dibk-fb-webcommon/assets/images/dibk_logo_mob.svg">
                        <img class="desktop-logo" src="~/Content/bower_components/dibk-fb-webcommon/assets/images/DiBk_logo_rgb.svg">
                    </a>
                    <nav id="main-menu" class="navigaton-bar">
                        <ul>
                           <li><a href="/">BIM VALIDERING</a></li>
                            <li><a href="/home/uttrekk">BIM UTTREKK</a></li>
                            <li><a href="https://dibk-utvikling.atlassian.net/wiki/display/FB/Fellestjenester+Bygg">DOKUMENTASJON</a></li>
                        </ul>
                    </nav>
                    <i id="menu-toggle" class="fa fa-bars" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </section>


    <section class="main-content">
        <div class="general-container">
            @RenderBody()
        </div>
    </section>


    <section>
        <footer>
            <div class="container body-content container-footer">
                <div class="general-container">
                    <div class="row">
                        <div class="col-sm-4 footertext">
                            <p>
                                <h2>Kontakt</h2>
                            </p>
                            <ul>
                                <li><a href="http://dibk.no/no/Systemside/HeaderMenu/Kontakt-oss/">Kontakt DIBK</a></li>
                                <li>E-post: <a style="font-size: 1em; line-height: 1em;" title="Henvendelser om fortolkning av regelverk og generelle spørsmål kan rettes til post@dibk.no" href="mailto:post@dibk.no">post@dibk.no</a></li>
                                <li>Byggsøk: <a style="font-size: 1em; line-height: 1em;" title="Spørsmål om Byggsøk? Send en epost til brukerstøtte" href="mailto:byggsok@dibk.no">byggsok@dibk.no</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 footertext">
                            <p><h2>Kontaktperson for DIBK</h2></p>
                            <ul>
                                <li>Olaug Hana Nesheim</li>
                                <li>Telefon: +47 93 05 66 35</li>
                                <li>E-post: <a href="mailto:ohn@dibk.no">ohn@dibk.no</a></li>
                            </ul>

                        </div>
                        <div class="col-sm-4 footertext">
                            <p><h2>Kontaktperson for Arkitektum AS</h2></p>
                            <ul>
                                <li>Tor Kjetil Nilsen</li>
                                <li>Telefon: +47 48 14 84 68</li>
                                <li>E-post: <a href="mailto:tor@arkitektum.no">tor@arkitektum.no</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <div class="margin-top">
                        <p class="pull-right">Versjon: @Html.ApplicationVersionNumber()</p>
                        <p>&copy; @DateTime.Now.Year - Direktoratet for byggkvalitet </p>
                    </div>
                </div>

            </div>
        </footer>

    </section>
    @RenderSection("scripts", required: false)
</body>
</html>