﻿
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-box panel-box-light-orange">
    <div class="panel-box-title" style="text-align: center;">Vi beklager, men filstørrelsen må være mindre enn 100MB. </div>
</div>
