﻿@model System.Web.Mvc.HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>

    <div class="article-header-container">
        <h1 class="article-header">Det oppsto en feil</h1>
    </div>
    @if (HttpContext.Current.IsCustomErrorEnabled)
    {
        <div class="panel-box panel-box-light-orange">
            <div class="panel-box-title">@Model.Exception.Message</div>
            @if (@Model.Exception.InnerException != null)
            {
                <p class="panel-box-content-text">Melding: @Model.Exception.InnerException.Message</p>
                if (@Model.Exception.InnerException.InnerException != null)
                {
                    @*<h4>Inner inner Feilmelding: @Model.Exception.InnerException.InnerException.Message</h4>*@
                }
            }
        </div>
    }
</body>
</html>
