﻿
@model arkitektum.dibk.bimvalidering.Models.UploadFileModel
<div class="header row">
    <div class="heading col-md-12">
        <h1>BIM validering for byggesøknad</h1>
    </div>
</div>
<p>
    Dette er en testmotor for validering av IFC filer mot Exchange requirement(ER) for rammesøknad, ett trinnssøknad og igangsettingssøknad(<a href="~/mvd/ramme_etttrinn_igangsetting.mvdxml">mvdXml</a>, <a href="@Url.Action("PdfActionResult")" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-download"></span>P13 – eByggesak pdf</a> ). Det er tegningskravene
    pluss behov for matrikkelføring som er utgangspunkt for behovet ER og IFC skal dekke.
</p>
@using (Html.BeginForm("ValidationReport", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel panel-default">
        Vi ber om informasjon om deg som bruker løsningen:
        <ul>
            <li>Navn.</li>
            <li>E-postadresse.</li>
            <li>Organisasjonsnummer eller/og Organisasjonsnavn.</li>

        </ul>
        <p>
            Dersom du fyller ut feltene, vil de bli registrert hos oss når du kjører BIM-valideringen. Informasjonen brukes kun til statistiske formål, og for å kunne ta kontakt om forbedringer og tilbakemeldinger på tjenesten. Det er frivillig å legge inn en eller flere av elementene, og tjenesten vil ikke påvirkes av om de er angitt eller ikke.
            Innsamlet informasjon vil kun brukes til angitt formål, og vil kun være tilgjengelig for DiBK og våre leverandører. Dersom du ønsker å få slettet informasjonen, kan du ta kontakt på e-post: <a href="mailto:fellestjenesterbygg@dibk.no">fellestjenesterbygg@dibk.no</a>.
        </p>
        Navn <input type="text" name="Navn" id="navn" />
        E-postadresse <input type="text" name="Email" id="email" />
        Organisasjonsnummer <input type="text" name="Organisasjonsnummer" id="organisasjonsnummer" />
        Organisasjonsnavn <input type="text" name="OrganisasjonsNavn" id="organisasjonsNavn" />
        @*<p>Name: @Html.TextBoxFor(m => m.UserInfo.Name) Email: @Html.TextBoxFor(m => m.UserInfo.Email)</p>
            <label>OrgName</label>@Html.TextBoxFor(m => m.UserInfo.OrgName)
            <label>OrgNr</label>@Html.TextBoxFor(m => m.UserInfo.OrgNr)*@
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-body">
            <p><strong>Opplasting av IFC fil(*.ifc og *.ifcxml) for validering:</strong></p>

            <input class="linkbutton" type="file" name="file" accept=".ifc,.ifcxml,.ifczip" required id="fileUpload" onchange="CheckFileSize(event)" />

            @*@Html.TextBoxFor(m => m.Files, new { type = "file", name = "Files" })*@

            @*<input type="submit" value="submit me" name="submitme" id="submitme" />*@

            <span id="loadingAnimation" class='loading-animation'> Det kan ta noen minutter</span>
            <button class="linkbutton" disabled="disabled" type="submit" onclick="handleSubmit()" name="submit" id="Submit">
                Last opp og kjør validering
            </button>

            <script type="text/javascript">
                function CheckFileSize(event) {
                    var fileUploadElement = event.target;
                    if (typeof (fileUploadElement.files) != "undefined") {
                        var fileUpload = document.getElementById("Submit");
                        fileUpload.disabled = false;
                    } else {
                        alert("This browser does not support HTML5.");
                    }
                }
                function handleSubmit() {
                    document.getElementById("Submit").style.display = "none";
                    document.getElementById("loadingAnimation").style.display = "inline-block";
                    document.getElementById("fileUpload").style.display = "none";
                }
            </script>

        </div>
    </div>
}

<div>
    <p>
        BIM-validatoren er under utvikling, og vi ønsker tilbakemeldinger.
        Dersom du har innspill til forbedringer eller trenger hjelp til å komme i gang, vil vi gjerne høre fra deg på <a href="mailto:fellestjenesterbygg@dibk.no">fellestjenesterbygg@dibk.no.</a>
    </p>
</div>

<br />
<h2>Referanser</h2>
<p>IFC er en buildingSmart standard for filformat på åpen og nøytral form. <a href="https://technical.buildingsmart.org/standards/ifc/">https://technical.buildingsmart.org/standards/ifc/</a></p>
<p>MvdXML er en buildingSmart standard for å definere et subset av IFC og valideringsregler som leveransespesifikasjon(Exchange requirement/ER). <a href="https://technical.buildingsmart.org/standards/ifc/mvd/">https://technical.buildingsmart.org/standards/ifc/mvd/</a></p>
