﻿@model arkitektum.dibk.validationengine.Matrikkel.MatrikkelregistreringType

@{
    ViewBag.Title = "Matrikkelopplysninger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header row">
    <div class="heading col-md-12">
        <h1>Matrikkelopplysninger</h1>
    </div>
</div>
<p>
    Lov om eigedomsregistrering (matrikkellova) 2005-06-17 nr. 101. kap 2 og 5
</p>

<!-- Table for Spesifiasjonen gjelder -->
<div class="matrikkel-tabell-section-header">
    <h3>Spesifikasjonen gjelder</h3>
</div>
<div class="matrikkel-tabell-container">
    <h2>Eiendom/Byggested</h2>
    <table class="matrikkel-tabell">
        <tr class="matrikkel-tabell-header">
            <th class="matrikkel-tabell-left">Kommune</th>
            <th class="matrikkel-tabell-left">Gårdsnummer</th>
            <th class="matrikkel-tabell-left">Bruksnummer</th>
            <th class="matrikkel-tabell-left">Festenummer</th>
            <th class="matrikkel-tabell-left">Seksjonsnummer</th>
        </tr>
        @if (@Model.eiendomsidentifikasjon != null)
        {
            foreach (var eiendoms in @Model.eiendomsidentifikasjon)
            {
                <tr>
                    <td class="matrikkel-tabell-left" style="width: 5%">@eiendoms.kommunenummer</td>
                    <td class="matrikkel-tabell-left" style="width: 5%">@eiendoms.gaardsnummer</td>
                    <td class="matrikkel-tabell-left" style="width: 5%">@eiendoms.bruksnummer</td>
                    <td class="matrikkel-tabell-left" style="width: 5%">@eiendoms.festenummer</td>
                    <td class="matrikkel-tabell-left" style="width: 5%">@eiendoms.seksjonsnummer</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="matrikkel-tabell-left" style="width: 5%"></td>
                <td class="matrikkel-tabell-left" style="width: 5%"></td>
                <td class="matrikkel-tabell-left" style="width: 5%"></td>
                <td class="matrikkel-tabell-left" style="width: 5%"></td>
                <td class="matrikkel-tabell-left" style="width: 5%"></td>
            </tr>

        }
    </table>
    <table class="matrikkel-tabell">
        <!-- **Eiendom/Byggested** -->
        <tr class="matrikkel-tabell-header">
            <th class="matrikkel-tabell-left" colspan="4">Adresse</th>
        </tr>
        <tr class="matrikkel-tabell-header">
            <th class="matrikkel-tabell-left">Gatenavn</th>
            <th class="matrikkel-tabell-left">Husnummer</th>
            <th class="matrikkel-tabell-left">Bokstav</th>
            <th class="matrikkel-tabell-left">Undernummer (kun matr.adr.)</th>
        </tr>
        <!-- **Adresse** -->
        @if (@Model.adresse != null)
        {
            foreach (var adress in @Model.adresse)
            {
                <tr>
                    <td class="matrikkel-tabell-left">@adress.adressenavn</td>
                    <td class="matrikkel-tabell-left">@adress.adressenummer</td>
                    <td class="matrikkel-tabell-left">@adress.adressebokstav</td>
                    <td class="matrikkel-tabell-left">@adress.seksjonsnummer</td>
                </tr>
            }
        }
    </table>
</div>
<!-- Table for Bygningsopplysninger -->
<div class="matrikkel-tabell-section-header">
    <h3>Bygningsopplysninger</h3>
</div>
<div class="matrikkel-tabell-container">
    <!-- **Bygningsopplysninger** -->

    @foreach (var bygning in @Model.bygning)
            {
        <div class="matrikkel-tabell-container">
            <table class="matrikkel-tabell" style="width: 50%">
                <tr>
                    <th class="matrikkel-tabell-left" style="width: 30%">Bygningsnummer</th>
                    <td class="matrikkel-tabell-left" style="width: 20%">@bygning.bygningsnummer</td>
                    <th class="matrikkel-tabell-left" style="width: 30%">Bebygd areal (BYA) m²</th>
                    <td class="matrikkel-tabell-left" style="width: 20%">@bygning.bebygdAreal</td>
                </tr>
            </table>
            <!--Tabel IfcBuilding-->
            <table class="matrikkel-tabell">
                <tr>
                    <th class="matrikkel-tabell-left" style="width: 10%">Bygningstype</th>
                    @if (bygning.bygningstype != null)
                    {
                        foreach (var bygningstype in bygning.bygningstype)
                        {
                            <td class="matrikkel-tabell-left" style="width: 5%">@(!string.IsNullOrEmpty(bygningstype.kodeverdi) ? bygningstype.kodeverdi : "")</td>
                            <td class="matrikkel-tabell-left" style="width: 85%">@(!string.IsNullOrEmpty(bygningstype.kodebeskrivelse) ? bygningstype.kodebeskrivelse : "")</td>
                        }
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                </tr>
                <tr>
                    <th class="matrikkel-tabell-left">Næringsgruppe</th>
                    @if (@bygning.naeringsgruppe != null)
                    {
                        <td class="matrikkel-tabell-left" style="width: 5%">@bygning.naeringsgruppe.kodeverdi</td>
                        <td class="matrikkel-tabell-left" style="width: 85%">@bygning.naeringsgruppe.kodebeskrivelse</td>
                    }
                    else
                    {
                        <td style="width: 5%"></td>
                        <td style="width: 85%"></td>
                    }
                </tr>
            </table>
            <!-- **Etasjer**-->
            <table class="matrikkel-tabell">
                <tr>
                    <th class="matrikkel-tabell-left" colspan="4">Etasjer</th>
                    <th class="matrikkel-tabell-left" colspan="3">Bruksareal (BRA) m²</th>
                    <th class="matrikkel-tabell-left" colspan="3">Bruttoareal (BTA) m²</th>
                </tr>
                <tr>
                    <th class="matrikkel-tabell-left"> Kode</th>
                    <th class="matrikkel-tabell-left">Etasjeplan</th>
                    <th class="matrikkel-tabell-left">Etasjenummer</th>
                    <th class="matrikkel-tabell-left">Antall boenheter</th>
                    <th class="matrikkel-tabell-right">Bolig</th>
                    <th class="matrikkel-tabell-right">Annet</th>
                    <th class="matrikkel-tabell-right">I alt</th>
                    <th class="matrikkel-tabell-right">Bolig</th>
                    <th class="matrikkel-tabell-right">Annet</th>
                    <th class="matrikkel-tabell-right">I alt</th>
                </tr>
                @if (bygning.etasjer != null)
                {
                    foreach (var estasjer in bygning.etasjer)
                    {
                        <tr>
                            <td>@estasjer.etasjeopplysning</td>
                            <td>@estasjer.etasjeplan.kodeverdi</td>
                            <td>@estasjer.etasjenummer</td>
                            <td>@estasjer.antallBoenheter</td>
                            <td class="matrikkel-tabell-right">@estasjer.bruksarealTilBolig</td>
                            <td class="matrikkel-tabell-right">@estasjer.bruksarealTilAnnet</td>
                            <td class="matrikkel-tabell-right">@estasjer.bruksarealTotalt</td>
                            <td class="matrikkel-tabell-right">@estasjer.bruttoarealTilBolig</td>
                            <td class="matrikkel-tabell-right">@estasjer.bruttoarealTilAnnet</td>
                            <td class="matrikkel-tabell-right">@estasjer.bruttoarealTotalt</td>
                        </tr>
                    }
                }
            </table>

            <!-- **Bruksenheter**-->
            <table class="matrikkel-tabell">
                <tr>
                    <th class="matrikkel-tabell-left" colspan="4">Bruksenheter</th>
                    <th class="matrikkel-tabell-right" rowspan="2">Bruksareal (BRA) m²</th>
                    <th class="matrikkel-tabell-left" rowspan="2">Kjøkkentilgang</th>
                    <th class="matrikkel-tabell-left" rowspan="2">Antall rom</th>
                    <th class="matrikkel-tabell-left" rowspan="2">Antall bad</th>
                    <th class="matrikkel-tabell-left" rowspan="2">Antall wc</th>
                    <th class="matrikkel-tabell-left" rowspan="2">Bruksenhetstype</th>
                    <th class="matrikkel-tabell-left" rowspan="2">Gatenavn</th>
                    <th class="matrikkel-tabell-left" rowspan="2">Husnummer</th>
                    <th class="matrikkel-tabell-left" rowspan="2">Bokstav</th>
                </tr>
                <tr>
                    <th class="matrikkel-tabell-left">Kode</th>
                    <th class="matrikkel-tabell-left">Etasjeplan</th>
                    <th class="matrikkel-tabell-left">Etasjenummer</th>
                    <th class="matrikkel-tabell-left">Løpe nr.</th>
                </tr>
                @if (bygning.bruksenheter.Any())
                {
                    foreach (var bruksenhet in bygning.bruksenheter)
                    {
                        <tr>
                            <td class="matrikkel-tabell-left">@bruksenhet.boligOpplysning</td>
                            <td class="matrikkel-tabell-left">@bruksenhet.bruksenhetsnummer.etasjeplan.kodeverdi</td>
                            <td class="matrikkel-tabell-left">@bruksenhet.bruksenhetsnummer.etasjenummer</td>
                            <td class="matrikkel-tabell-left">@bruksenhet.bruksenhetsnummer.loepenummer</td>
                            <td class="matrikkel-tabell-right">@bruksenhet.bruksareal</td>
                            @if (@bruksenhet.kjoekkentilgang != null)
                            {
                                <td class="matrikkel-tabell-left">@bruksenhet.kjoekkentilgang.kodeverdi</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td class="matrikkel-tabell-left">@bruksenhet.antallRom</td>
                            <td class="matrikkel-tabell-left">@bruksenhet.antallBad</td>
                            <td class="matrikkel-tabell-left">@bruksenhet.antallWC</td>
                            @if (@bruksenhet.bruksenhetstype != null)
                            {
                                <td class="matrikkel-tabell-left">@bruksenhet.bruksenhetstype.kodebeskrivelse</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (bruksenhet.adresse != null)
                            {
                                <td class="matrikkel-tabell-left">@bruksenhet.adresse.adressenavn</td>
                                <td class="matrikkel-tabell-left">@bruksenhet.adresse.adressenummer</td>
                                <td class="matrikkel-tabell-left">@bruksenhet.adresse.adressebokstav</td>
                            }
                            else
                            {
                                <td class="matrikkel-tabell-left"></td>
                                <td class="matrikkel-tabell-left"></td>
                                <td class="matrikkel-tabell-left"></td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
