﻿<div class="header row">
    <div class="heading col-md-12">
        <h1>BIM uttrekk for matrikkelopplysninger</h1>
    </div>
</div>
<p>

</p>
<div class="panel panel-default" style="margin-top: 5px">
    <div class="panel-body">
        <p> <strong>Uttrekk til matrikkelopplysninger skjema (under utvikling)</strong></p>
        @using (Html.BeginForm("Matrikkelopplysninger", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input class="linkbutton" type="file" name="file" accept=".ifc,.ifcxml,.ifczip" required id="fileUpload" onchange="CheckFileSize(event)" />
            <input class="linkbutton" type="submit" disabled="disabled" name="submit" id="Submit" value="Eksporter" />
            <script type="text/javascript">
                function CheckFileSize(event) {
                    var fileUploadElement = event.target;
                    if (typeof (fileUploadElement.files) != "undefined") {
                        if (fileUploadElement.files.length) {
                            var size = parseFloat(fileUploadElement.files[0].size / 1024).toFixed(2);
                            if (size > 1024000) {
                                alert("Vi beklager, men filstørrelsen må være mindre enn 100MB.");
                            } else {
                                var fileUpload = document.getElementById("Submit");
                                fileUpload.disabled = false;
                            }
                        }
                    } else {
                        alert("This browser does not support HTML5.");
                    }
                }
            </script>
        }
    </div>
</div>
<br />

