﻿@model arkitektum.dibk.bimvalidering.Models.ValidationReportView

<div class="article-header-container">
    <h1 class="article-header margin-bottom">Valideringsresultat</h1>

    <div class="panel panel-info">
        <div class="panel-body">
            BIM-validatoren er under utvikling, og vi ønsker tilbakemeldinger.
            Dersom du har innspill til forbedringer eller trenger hjelp til å komme i gang, vil vi gjerne høre fra deg på <a href="url">fellestjenesterbygg@dibk.no.</a>
        </div>
    </div>

    <p class="article-ingress">
        <strong><b>@Html.DisplayFor(model => model.ifcFilename)</b></strong> er validert mot Exchange requirement for rammesøknad,
        ett trinnssøknad og igangsettingssøknad(<a href="~/mvd/ramme_etttrinn_igangsetting.mvdxml">mvdXml</a>,
        <a href="@Url.Action("PdfActionResult")" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-download"></span>P13 – eByggesak pdf</a>)
    </p>
</div>


@if (Model.reportErrorsCount == 0)
{
    // Null feil og null advarsler
    <h2 class="big-header">Filen er godkjent for innsending til byggesak.</h2>
    <h3> Validation Id:<b> @Html.DisplayFor(model => model.ValidationId)</b></h3>
    <p></p>
    // Mer enn null advarsler
    if (Model.reportWarningResultsCount != 0)
    {
        <div class="panel-box panel-box-warning margin-bottom">
            <p>
                Last ned <a href="@Html.DisplayFor(model => model.bcfZipFiletrFilename)">advarsler som bcfzip</a> for bruk i eget program
            </p>
            <p>Antall advarsel: @Html.DisplayFor(model => model.reportWarningResultsCount)</p>
        </div>
    }
}

// Mer enn null feil
else
{
    <h2 class="big-header">
        Filen er ikke godkjent og kan ikke brukes til byggesak.
    </h2>
    <div class="panel-box panel-box-danger margin-bottom" role="alert">
        <p>
            Se feillogg over endringer som må gjøres.
        </p>
        <p>
            Last ned <a href="@Html.DisplayFor(model => model.bcfFilename)">feil som bcfzip</a> for bruk i eget program
        </p>
        <p>Antall feil: @Html.DisplayFor(model => model.reportErrorsCount)</p>
    </div>

    // Mer enn null advarsler
    if (Model.reportWarningResultsCount != 0)
    {
        <div class="panel-box panel-box-warning margin-bottom">
            <p>
                Last ned <a href="@Html.DisplayFor(model => model.bcfZipFiletrFilename)">advarsler som bcfzip</a> for bruk i eget program
            </p>
            <p>Antall advarsel: @Html.DisplayFor(model => model.reportWarningResultsCount)</p>
        </div>
    }
}

<div id="WexBim-container"></div>
<div id="viewer-container">Your browser doesn't support WebGL</div>
<script src="/scripts/xbim-viewer.debug.bundle.js"></script>
<script src="/scripts/xbim-navigation-cube.js"></script>

<script type="text/javascript">
    var check = xViewer.check();
    if (check.noErrors) {
        var canvas = document.createElement('canvas');
        var container = document.getElementById('viewer-container');
        container.innerHTML = '';

        var wexbim = document.getElementById('WexBim-container');

        var errHtml = "<h2 style='color:red;'> Kan ikke opprette 3D-modellvisning</h2>";

        //set container style
        container.style['margin-left'] = 'auto';
        container.style['margin-right'] = 'auto';
        container.style['width'] = '100%';


        container.appendChild(canvas);
        canvas.width = container.offsetWidth;
        canvas.height = container.offsetWidth * 6.0 / 9.0;

        var viewer = new xViewer(canvas);
        viewer.on('loaded', function () {
            viewer.setCameraPosition([-15000, -15000, 15000]);
            viewer.start();
        });
        viewer.on('error', function () {
            if ('@Model.wexBIMFilename' === "Time out") {
                container.innerHTML = "<h2 style='color:red;'> Kan ikke opprette 3D-modellvisning - TIME OUT</h2>";
            } else {
	            container.innerHTML = errHtml;
            }
        });
        try {
            viewer.load('@Html.DisplayFor(model => model.wexBIMFilename)');
            var cube = new xNavigationCube();
            cube.passiveAlpha = 1.0;
            viewer.addPlugin(cube);

        }
        catch (e) {
            console.log(e.model);
            console.log(e.message);
            console.log('e.message');
	        if ('@Model.wexBIMFilename' === "Time out") {
		        container.innerHTML = "<h2 style='color:red;'> Kan ikke opprette 3D-modellvisning - TIME OUT</h2>";
	        } else {
		        container.innerHTML = errHtml;
	        }
        }
    }
    viewer.on('error', function (arg) {
        var container = document.getElementById('errors');
        if (container) {
            //preppend error report
            container.innerHTML = "<pre style='color:red;'>" + arg.message + "</pre> <br />" + container.innerHTML;
        }
    });
</script>
<script type="text/javascript">
    function highligthObject(id) {
        if (viewer) {

            viewer.setState(xState.XRAYVISIBLE, [id]);
            viewer.zoomTo(id);
        }
    };
</script>

@{
    var totoalChecks = @Model.reportErrorsCount + @Model.reportWarningResultsCount + @Model.report.Count;
}



@for (int i = 0; i <= 2; i++)
{
    List<arkitektum.dibk.validationengine.ReportResult> model = null;

    //Create Error report
    if (i == 0)
    {

        <h2 class="big-header">Feillogg (@Model.reportErrorsCount / @totoalChecks )</h2>
        if (Model.reportErrors.Count > 0)
        {
            model = Model.reportErrors;
        }
    }
    //Create Warning Report
    if (i == 1)
    {
        <h2 class="big-header">Advarsel (@Model.reportWarningResultsCount / @totoalChecks)</h2>
        if (Model.reportWarningResultsCount != 0)
        {
            model = Model.ReportWarningResults;
        }
    }
    // create pass report
    if (i == 2)
    {
        <h2 class="big-header">Godkjent (@Model.report.Count / @totoalChecks)</h2>
        model = Model.report;
    }

    if (model == null)
    {
        continue;
    }


    <div class="custom-list">
        @foreach (var item in model)
        {
            <div class="row">
                @*// Result *@
                <div class="col-sm-1">
                    <span class="custom-list-cell-title">Status</span>

                    @if (item.ResultSummary == "Feil")
                    {
                        <span class="label label-danger">@Html.DisplayFor(modelItem => item.ResultSummary)</span>
                    }
                    else if (item.ResultSummary == "Godkjent")
                    {
                        <span class="label label-success">@Html.DisplayFor(modelItem => item.ResultSummary)</span>
                    }
                    else if (item.ResultSummary == "Advarsel")
                    {
                        <span class="label label-warning">@Html.DisplayFor(modelItem => item.ResultSummary)</span>
                    }
                    else
                    {
                        <span class="label label-default">@Html.DisplayFor(modelItem => item.ResultSummary)</span>
                    }
                </div>

                @*// IFC-objekt *@
                <div class="col-sm-2">
                    <span class="custom-list-cell-title">IFC-objekt</span>

                    @Html.DisplayFor(modelItem => item.Entity.ExpressType.Name)
                </div>
                @*// requirement *@
                <div class="col-sm-2">
                    <span class="custom-list-cell-title">Krav</span>

                    @Html.DisplayFor(modelItem => item.ConceptName)
                </div>
                @*// description *@
                <div class="col-sm-5">
                    <span class="custom-list-cell-title">Kravbeskrivelse</span>

                    @if (item.Concept?.Definitions != null)
                    {
                        foreach (var def in item.Concept.Definitions)
                        {
                            @Html.DisplayFor(modelItem => def.Body.Value)
                        }
                    }
                </div>
                @*// Entity Tag/label + entity Name *@
                <div class="col-sm-2">
                    <span class="custom-list-cell-title">Objekt [tag] og Navn</span>

                    @Html.DisplayFor(modelItem => item.EntityName)
                </div>
            </div>

        }
    </div>
}

